@media(max-width: 1715px) {
    
    /* General */

    html.overflow {
        margin-right: 0px;
    }

    .container {
        max-width: 1230px;
    }
    
    .general__caption {
        font-size: 62px;
        line-height: 90px;
    }
    
    .main_caption {
        font-size: 52px;
        line-height: 60px;
    }
    
    .description-block {
        left: -180px;
    }

    /* /General */

    /* Main- block */
    
    .main-block {
        height: 740px;
    }
    
    .main-block__item {
        padding-top: 160px;
        
        &:nth-child(2) {
            padding-left: 70px;
        }
    }

    .main-block__decor {
        display: none;
    }
    
    /* /Main- block */
    
    /* Our works */
    
    .our-works__wrapper {
        flex-direction: column;
        
        .word-decor {
            z-index: -2;
            left: calc(50% + 35px);
        }
    }
    
    .our-works__block {
        width: 100%;
        
        .our-works__list-wrapper {
            right: 15px;
        }
        
        .ou-works__img {
            display: flex;
            justify-content: flex-end;
            
            &::before {
                height: 580px;
                width: 385px;
                right: -60px;
                z-index: -1;
            }
        }
        
        &:nth-child(2) {
            display: flex;
            justify-content: flex-end;
            margin: 110px 0px;
            
            .our-works__list-wrapper {
                left: 15px;
            }
            
            .ou-works__img {
                justify-content: flex-start;
                
                &::before {
                    right: 0;
                    left: -60px;
                }
            }
        }
    }
    
    /* Our works */
    
    /* Offers */
    
    .offers-block  {
        padding-bottom: 100px;
        
         .svg-decor {
             top: -1px;
         }
    }
    
    .offers-block__list {
        padding: 30px;
        margin-right: -70px;
        margin-top: -30px;
        margin-left: -30px;
        overflow-x: scroll;
    }
    
    /* /Offers */
    
    /* Our project */
    
    .our-project__wrapper {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .our-project__wrapper-info {
        display: flex;
        width: 100%;
        align-items: center;
        
        .main_caption {
            width: 340px;
            margin-right: 130px;
            margin-bottom: 0px;
        }
        
         .word-decor {
            top: 100%;
            left: -70px;
            transform: translateY(-40%);
         }
    }
    
    /* /Our project */
    
    /* Consultation */

    .consultation__description {
        max-width: 450px;
        margin-right: 20px;
    }

    .consultation__wrapper {
        .main-form__file {
            button {
                width: 300px;
            }
        }
    }

    .main-form {
        .main-button {
            max-width: 300px;
        }
    }

    .main-form__callback {
        .main-input {
            width: 300px;
        }
    }

    /* /Consultation */

    /* Furniture */

    .buy-furniture__description {
        max-width: 700px;
    }

    .buy-furniture__img {
        width: 390px;
        height: 510px;

        .word-decor {
            top: -43%;
        }
    }
    
    .buy-furniture__wrapper {
        align-items: center;
    }

    /* Furniture */

    /* Implementation */

    .implementation__slider-list {
        width: 650px;
        height: 680px;
    }

    .implementation__description {
        max-width: 430px;
        margin-right: 30px;
    }

    /* Implementation */

    /* Form-block */

    .form-block__description {
        max-width: 430px;
        margin-right: 30px;
    }

    .main-form__caption {
        font-size: 36px;
    }

    /* Contact */

    .contact .contact-word {
        right: 100px;
    } 

    /* Contact */

    /* Popup */

    .popup__portfolio-arrow.next {
        right: -27px;
    }

    .popup__portfolio-arrow.prev {
        left: -27px;
    }

    /* Popup */
}

@media (max-width: 1366px) {

    /* General */

    .container {
        max-width: 720px;
    }

    .main-form {
        width: 720px;
    }

    .main_caption {
        text-align: center;
    }
    /* General */

    /* Header */

    .header__list {
        display: none;
    }

    .header__call-back {
        .header__call-back__button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #f3a362;
            font-size: 16px;
            text-transform: uppercase;
        }

        a {
            font-size: 20px;
        }
    }
    /* /Header */

    /* Main block */

    .main-block {
        height: 1080px;
    }

    .main-block__wrapper {
        flex-direction: column;
        padding-top: 170px;

        .svg-decor  {
            .text {
                transform: translate(0px, -100px);
                font-size: 65px;
            }
        }
    }

    .main-block__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px;

        &:nth-child(2) {
            padding: 0px;
            margin-top: 105px;
        }

        .general__list {
            text-align: center;
        }
    }

    .general__list{
        padding: 0px;
        margin: 50px 0px 40px;

        &::before {
            display: none;
        }
    }

    .general__caption {
        font-size: 58px;
        line-height: 60px;
    }

    .main-block__call-back {
        bottom: 90px;
    }

    /* /Main block */

    /* Our works */

    .our-works__wrapper {
        padding-bottom: 180px;

        .word-decor {
            left: initial;
            transform: none;
            right: -10px;
        }
    }
    .ou-works__img {
        width: 500px;
        height: 590px;

        &::before {
            bottom: -50px;
        }
    }

    .our-works__block {
        .our-works__list-wrapper {
            right: 70px;

            &::before {
                height: 570px;
            }
        }

        &:nth-child(2) {
            .our-works__list-wrapper {
                left: 70px;
            }
        }
    }

    .our-works__button {
        bottom: 130px;
    }

    /* /Our works */

    /* Offers */

    .offers-block {
        .text {
            transform: translate(calc(50% + -32px), calc(50% - 55px));
            font-size: 60px;
        }
        
        .svg-decor {

            .top-line {
                height: 7px;
            }

            .decor-bg {
                height: 120px;
            }
            .offer-decor-bg {
                height: 100%;
            }
        }
    }

    .offers {
        .text {
            transform: translate(70px, 20px);
            font-size: 60px;
        }
    }

    .offers-block__item {
        width: 330px;
        margin-right: 20px;
    }

    .main-form__title {
        font-size: 17px;
    }

    .main-form__file {
        button {
            width: 100%;
        }
    }

    .offers-block__wrapper {
        padding-top: 115px;
    }
    /* Offers */

    /* Out project */

    .our-project__wrapper {
        overflow: hidden;

        .general__list {
            width: 100%;
            margin-bottom: 90px;

            p {
                max-width: 100%;
            }
        }
    }

    .our-project__slider {
        right: -345px;
    }

    .our-project__wrapper-info {
        flex-direction: column;
        text-align: center;

        .main_caption {
            width: 100%;
            margin-right: 0px;
        }

        .word-decor {
            font-size: 600px;
            left: 100px;
            top: 50%;
            transform: translateY(-47%);
        }
    }

    /* Out project */

    /* Consultation */

    .consultatin-bg {
        width: 100%;
        height: 640px;
    }

    .consultation {
        height: 1260px;
        margin-bottom: 125px;

        &::before {
            width: 100%;
            height: 620px;
            top: initial;
            bottom: 0px;
        }
    }

    .consultation__wrapper {
        flex-direction: column;
        margin-top: 100px;
        
        &::after {
            top: -205px;
        }
        
        &::before {
            bottom: -90px;
        }
    }

    .consultation__description {
        max-width: 100%;
        margin-right: 0px;
    }

    /* Consultation */

    /* Furniture */

    .buy-furniture__wrapper {
        flex-direction: column;
        padding-top: 285px;
    }

    .buy-furniture__description {
        .wrapper {
            position: absolute;
            left: 50%;
            top: 0px;
            width: 100%;
            transform: translateX(-50%);
        }

        .general__list {
            text-align: center;
        }
    } 

    .buy-furniture__img {
        width: 560px;
        height: 660px;
        margin-bottom: 85px;

        img {
            width: 100%;
        }
    }

    /* Furniture */

    /* Implementation */

    .implementation__wrapper {
        flex-direction: column;
        padding-bottom: 120px;
    }

    .implementation__slider-list {
        width: 720px;
        height: 750px;
    }

    .implementation__description {
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 100px;

        .main_caption {
            max-width: 600px;

            span {
                font-size: 28px;
            }
        }

        .word-decor {
            font-size: 730px;
            left: 78px;
            top: -200px;
        }

        &::before {
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 570px;
        }
    }

    /* Furniture */

    /* Main-form */

    .form-block-bg {
        width: 100%;
        height: 640px;

        .svg-decor {
            .text {
                transform: translate(calc(50% - 17px), calc(50% - 52px));
            }
        }
    }

    .form-block {
        height: 1130px;
        margin-bottom: 125px;

        &::before {
            width: 100%;
            height: 485px;
            top: initial;
            bottom: 0px;
        }
    }

    .form-block__wrapper {
        flex-direction: column;
        margin-top: 100px;
        
        &::after {
            top: -185px;
        }
        
        &::before {
            bottom: -85px;
            z-index: 2;
        }
    }

    .form-block__description {
        max-width: 100%;
        margin-right: 0px;
    }

    .main-form__wrapper {
        width: 720px;
        margin-top: 110px;

        .main-form__file {
            button {
                width: 230px;

                span {
                    left: 20px;
                }
            }
        } 
    }

    .main-form__header {
        .main-form__caption {
            font-size: 36px;
        }
    }

    /* Main-form */

    /* Contact */

    .contact {
        padding-top: 0px;

        .contact-word {
            right: 0px;
            bottom: initial;
            top: -50%;
        }
    }

    .contact__item {
        padding: 0px 0px 0px 20px;
        
        &:nth-child(1) {
            width: 270px;
        }

        &:nth-child(2) {
            width: 200px;
        }

        &:nth-child(3) {
            width: 220px;
        }

        p {
            font-size: 16px;
        }
    } 

    /* Contact */

    /* Popup */

    .popup__portfolio {
        width: 720px;
        padding: 20px;
        background-color: #fff;
        overflow: hidden;
        overflow-y: scroll;
        padding-bottom: 35px;
    }

    .popup__portfolio-arrow {
        top: initial;
        bottom: -30px;
        transform: none;

        &:hover {
            span {
                color: #000;
                transition: none;
            }
        }
        
        span {
            color: #000;
            font-size: 20px;
        }

        &.prev {
            left: calc(50% - 60px)
        }

        &.next {
            right: calc(50% - 60px)
        }
    }

    .popup__portfolio__wrapper {
        flex-direction: column;

        .popup__portfolio-form {
            width: 720px;
            right: -20px;
            top: initial;
            bottom: -10px;
            height: 550px;
            padding: 10px 20px;
            box-shadow: none;

            .popup-close {
                right: 40px;
                top: 40px;
            }

            .main-button {
                max-width: 300px;
            }
        }

        .main-form {
            padding: 20px 10px 30px;
            box-shadow: none;
        }
        
        .main-form__title {
            margin: 8px 0px 22px;
        }

        .main-form__file  {
            button {
                width: 300px;
            }
        }

    }

    .popup__portfolio-information {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;

        .main_caption {
            font-size: 32px;
        }

        .main-button {
            margin: 20px auto 0px;

        }
    }

    .popup__portfolio-slider {
        width: 100%;
    }

    .portfolio-slider__img-list {
        width: 100%;
        height: 420px;
    }

    .popup__portfolio-information__list {
        height: 170px;
    }

    .portfolio-slider__list__wrapper {
        width: 100%;
        height: 100px;
    }

    .portfolio-slider__item {
        width: 150px;
        height: 100px;
    }

    .popup__portfolio-information__item {
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li {
            width: calc(50% - 30px);
            margin-bottom: 15px;
        }

        .first-text {
            height: 70px;
        }
    }

    .popup__consultation {
        .main-form__file {
            button {
                width: 300px;
            }
        } 
    }

    /* Popup */
}

@media (max-width: 1024px) {
    .main-block__wrapper {
        .svg-decor  {
            .text {
                transform: translate(0px, -85px);
                font-size: 95px;
            }
        }
    }

    .offers-block {
        .text {
            transform: translate(calc(50% - 42px), calc(50% - 40px));
            font-size: 80px;
        }
    }

    .offers {
        .text {
            transform: translate(65px, 35px)
        }
    }

    .consultatin-bg {
        .svg-decor {
            .text {
                font-size: 60px;
                transform: translate(calc(50% - 35px), calc(50% - 45px));
            }
        }
    }
}

@media (max-width: 768px) {
    /* General */

    .container {
        max-width: 360px;
    }

    .main_caption {
        font-size: 34px;
        line-height: 46px;
        margin-bottom: 15px;
    }

    .description-block {
        display: none;
    }
    
    .general__list {
        line-height: 26px;
    }
    
    /* /General */

    /* Header */
    
    .header {
        margin-top: 15px;
    }

    .header__call-back {
        a {
            font-size: 14px;
        }
        
        .header__call-back__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: rgb(244, 237, 232);
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
            
            p {
                display: none;
            }
            span {
                display: flex;
                font-size: 25px;
            }
        }
        
    }
    
    /* Header */

    /* Main block */

    .general__caption {
        text-align: center;
        font-size: 36px;
        line-height: 44px;
    }
 
    .main-block__wrapper {
        padding-top: 125px;
    }
    
    .main-block__wrapper {
        .svg-decor  {
            .text {
                transform: translate(0px, -50px);
                font-size: 95px;
            }
        }
    }

    .main-block__item {
        .general__list {
            margin: 30px 0px;
        }

        &:nth-child(2) {
            margin-top: 70px;
        }
    }

    .main-block__call-back {
        bottom: 120px;
    }

    /* /Main-block */
    
    /* Our works */
    
    .our-works {
        padding-top: 140px;
    }
    
    .our-works__wrapper {
        padding-bottom: 205px;
        
         .word-decor {
             font-size: 300px;
             line-height: 300px;
             top: -185px;
         }
    }
    
    .our-works__caption {
        width: 260px;
        margin: 0px 0px 30px;
        text-align: left;
        
        .cross {
            display: flex;
            margin-top: 3px;
        }
        
        &.active {
            + .our-works__list { 
                opacity: 1;
                transition: opacity .4s;
                z-index: 5;
                
                &:last-of-type {
                    z-index: 4;
                }
            }
            
            .cross {
                transform: rotate(45deg) translateX(-50%) translateY(-2px);
                
                &::before,
                &::after {
                    background-color: #f3ad74;
                }
            }
        }
    }
    .our-works__block {
        .ou-works__img {
            width: 325px;
            height: 600px;
            left: -15px;
        
            &::before {
                width: 190px;
                height: 580px;
                bottom: -35px;
            }
        }
        
        &:nth-child(2) {
            margin: 215px 0px 190px;
            
            .our-works__list {
                left: initial;
                right: 0px;
            }
            
            .ou-works__img {
                left: initial;
                right: -15px;
            }
        }
        
        .main_caption {
            left: -15px;
            text-align: left;
        }
        
        .our-works__list-wrapper{
            right: initial;
            left: 0px;
            top: initial;
            bottom: -165px;
            
            &:before {
                display: none;
            }
        }
    } 
    
    .our-works__list {
        position: absolute;
        overflow: hidden;
        top: 20px;
        width: 290px;
        max-height: 185px;
        background: #fff;
        left: 0px;
        padding: 20px;
        border: 1px solid #cdcdcd;
        opacity: 0;
        z-index: -1;
        
        &:last-of-type {
            top: 75px;
        }
    }
    
    .our-works__button {
        .main-button {
            margin: 0 auto;
            max-width: 320px;
        }
    }
    
    /* /Our works */
    
    /* Offers block */
    
    .offers-block {
        margin-top: -70px;
    }
    
    .offers-block__wrapper {
        padding-top: 80px;
    }
    
    .offers-block {
        .svg-decor {
            .top-line {
                height: 14px;
            }

            .decor-bg {
                transform: translateY(12px);
            }

            .offer-decor-bg {
                top: 11%;
            }
        }
    }
    
    /* Our project */
    
    .our-project {
        padding-bottom: 130px;
    }
    
    .our-project__slider {
        right: -700px;
    }

    .our-project__wrapper {
        .general__list {
            margin: 15px 0px 30px;
        }
    }

    .our-project__wrapper-info {
        .word-decor {
            font-size: 480px;
            left: 0px;
            transform: translateY(-45%);
        }
    }
    
    /* /Our project */
    
    /* Consultation */
    
    .consultation {
        align-items: flex-start;
        height: 710px;
        margin-bottom: 80px;
    }
    
    .mobile-button__wrapper {
        width: 330px;
        display: block;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 30px 0px rgba(76, 68, 63, 0.15);
        margin-top: -20px;
        
        .main-form__caption {
            margin-bottom: 10px;
        }
    }
    
    .consultation__wrapper {
        margin-top: 70px;
        
        .main-form {
            display: none;
        }
        
        .general__list {
            margin: 15px 0px 50px;
            text-align: justify;
        }
        
        &::after {
            top: -130px;
        }
        
        .main_caption {
            margin-bottom: 15px;
        }
    }
    .main-form__caption {
        font-size: 24px;
    }
    
    .consultatin-bg {
        .svg-decor {
            .text {
                font-size: 85px;
                transform: translate(calc(50% - 46px), calc(50% - 30px));
            }
        }
    }
    
    /* /Consultation */
    
    /* Furniture */
    
    .buy-furniture {
        padding-bottom: 75px;
    }
    
    .buy-furniture__description {
        .general__list {
            margin-top: 15px;
        }
    }
    
    .buy-furniture__img {
        width: 310px;
        height: 375px;
        margin-bottom: 50px;
        
        &::before {
            width: 215px;
            height: 325px;
            bottom: -30px;
            right: -30px;
        }
        
        .word-decor {
            font-size: 250px;
            line-height: 250px;
            top: -20%;
            left: -40px;
        }
    }
    
    .buy-furniture__list {
        flex-direction: column;
        margin-right: 0px;
    }
    
    .buy-furniture__item {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 55px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* /Furniture */
    
    /* Implementation */
    
    .implementation__slider-list {
        width: 360px;
        height: 375px;
    }
    
    .implementation__slider-img.range {
        .implemetation__slider-name {
            left: 10px;
        }
    }
    
    .implemetation__slider-name {
        font-size: 16px;
        padding: 15px 20px;
        right: 10px;
        
        p {
            min-width: 115px;
        }
    }
    
    .implementation__description {
        margin-bottom: 60px;
        padding-top: 60px;
        
        .word-decor {
            font-size: 525px;
            line-height: 500px;
            left: -30px;
            top: -70px;
        }
        
        .main_caption {
            max-width: 100%;
            text-align: left;
        }
        
        .general__list {
            margin: 15px 0px;
        }
        
        &::before {
            height: 500px;
            top: 0px;
            transform: translateX(-50%);
        }
    }
    
    /* /Implementation */
    
    /* Main-form */
    
    .form-block {
        height: 585px;
        align-items: flex-start;
        
        .main-form__caption {
            line-height: 26px;
        }
        
        .general__list {
            margin: 0px 0px 15px;
        }
        
        .mobile-button__wrapper {
            margin-top: 55px;
            
            &::after {
                top: -150px;
            }
        }
        
        .main-form__caption {
            margin-bottom: 25px;
        }
    }
    
    .main-form__wrapper {
        display: none;
    }
    
    .form-block-bg {
        height: 520px;
        
        .svg-decor {
            .text {
                font-size: 90px;
                transform: translate(calc(50% - 28px), calc(50% - 25px));
            }
        }
    }
    
    .form-block__wrapper {
        margin-top: 90px;
        
        &::after {
            top: -150px;
        }
        
        .main_caption {
            margin-bottom: 15px;
        }
    }
    
    /* /Main-form */
    
    /* Contact */
        
    .contact {
        .contact-word {
            top: 50%;
            font-size: 400px;
            line-height: 400px;
        }
    }
    
    .contact__list {
        flex-direction: column;
        margin-top: 45px;
    }
    
    .contact__item {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
        width: 100% !important;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* /Contact */
    
    /* Popup */
    
    .popup__consultation {
        .main-form {
            width: 100%;
            padding: 30px;
        }
        
        .main-form-button__wrapper {
            flex-direction: column;
            
            .main-button {
                max-width: 100%;
            }
        }
        
        .main-form__file {
            margin-bottom: 35px;
            
            button {
                width: 100%;
            }
        }
        
        .main-form__title {
            margin-top: 10px;
        }
    }
    
    .popup {
        width: 100%;
        
        .main-form__square {
            label {
                width: calc(50% - 10px);
            }
        }
        
        .main-form__type {
            label {
                width: calc(50% - 10px);
            }
        }
        
        .main-input__wrapper {
            width: 100%;
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 10px;
            }
            
            .main-input {
                width: 100%;
            }
        }
        
        .main-form__callback {
            flex-wrap: wrap;
        }
    }
    .popup__quiz {
        .main-form__wrapper {
            width: 100%;
            display: block;
            margin-top: 0px;
        }
        
        .main-form__caption {
            font-size: 27px;
        }
        
        .main-form__counter {
            font-size: 25px;
            
            .current {
                font-size: 30px;
            }
        }
        
        .main-form__header {
            margin-bottom: 20px;
        }
        
        .main-form__title {
            margin: 15px 0px 30px;
        }
        
        .main-form {
            padding: 20px;
        }
        
        .main-form__button {
            bottom: 20px;
            padding: 0px 20px;
        }
        
        .main-form__style {
            .main-form__style-img {
                width: 100%;
                height: 77px;
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
                
            }
            
            > label {
                width: calc(50% - 10px);
            }
            
            span {
                text-align: center;
            }
        }
        
        .main-form__button {
            button {
                width: calc(50% - 35px);
                
                &.next {
                    right: 20px;
                }
                
                 &.prev {
                    left: 20px;
                }
            }
            
            .main-button {
                right: 20px;
            }
        }
    }
    
    .popup__caption {
        font-size: 30px;
    }
    
    .popup__call-back {
        padding: 30px 40px 40px;
    }
    
    .portfolio-slider__list {
        display: none;
    }
    
    .portfolio-slider__list__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    
    .portfolio-slider__list__wrapper {
        .portfolio-mobile__list {
            display: flex;
            margin: 0px 70px;
        }
    }
    
    .portfolio-slider__arrow {
        span {
            font-size: 14px;
        }
    }
    
    .portfolio-mobile__item {
        width: 10px;
        height: 10px;
        border: 1px solid #cdcdcd;
        background-color: #fff;
        margin-right: 10px;
        
        &.active {
            border-color: #877f7a;
            background-color: #f1f1f1;
        }
        
        &:last-child {
            margin-right: 0px;
        }
    }
    
    .popup__portfolio__wrapper {
        .popup__portfolio-form {
            width: 100%;
            padding: 0px;
            right: 0px;
        }
    }
    /* /Popup */
}

@media (max-width: 575px) {
    .popup__quiz {
        .main-form__caption {
            font-size: 18px;
        }
        
        .main-form__counter {
            font-size: 18px;
            
            .current {
                font-size: 20px;
            }
        }
        
        .main-form__header {
            margin-bottom: 10px;
        }
    }
}